body {
  background-color: black;
}

.container {
  width: 100%;
}




#footer {
  justify-content: space-between;
  width: 100%;
}

#about {
  width: 100%;

  text-align: center;
}

#container-logo img {
  background-color: yellow;
}

.footer {
  background-color: indigo;
}
