body {
  background-color: black;
}

.container {
  width: 100%;
}




#footer {
  justify-content: space-between;
  width: 100%;
}

#about {
  width: 100%;

  text-align: center;
}



.footer {
  background-color: indigo;
}
