{% load staticfiles %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static 'css/estilos_bootstrap/bootstrap.min.css' %}">
</head>

<body>
    <div class="container">
        <h1>Agregar Poleras</h1>
        <form method="POST" action="#" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                {{ form }}
            </div>

            <input type="submit" value="Registral" />
        </form>
        <a href="{% url 'listadoProductos' %}">Ir al Listado</a>
    </div>



</body>

</html>