{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%} {% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/estilos_bootstrap/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/Stryle.css' %}">
    {% block css  %}

    {% endblock %}


</head>

<body>
    <div class="container">

        {% include "app/navbar.html" %}

        {% block content %}


        {% endblock %}

        <div class="footer text-light">
            <div class="row" id="contacto">
                <div class="col-12">
                    <div id="direcciones">
                        <h2>Contactanos!</h2>
                        <p>email:xxxxxx@gmail.com</p>
                        <p>Fono :+569xxxxxxxx</p>
                    </div>
                    <div id="redes" class="row">
                        <div class="col-2">
                            <img src="{% static 'img/face.png' %}" class="img-fluid" alt="">

                        </div>
                        <div class="col-2">
                            <img src="{% static 'img/Whatsapp.png' %}" class="img-fluid" alt="">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/librerias_jquery/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{%  static 'js/librerias_bootstrap/bootstrap.min.js' %}"></script>
    {% block scripts   %}
    {% endblock %}
</body>

</html>