{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/estilos_bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3  col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img" src="{% static  'img/images.jfif' %}" alt="Card image">
                        <p class="card-img-overlay">15%</p>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Supreme</h4>
                        <h6 class="card-subtitle mb-0  text-muted">Polera M/L Hombre</h6>
                        <p class="card-text mb-2 ">$ 16.990 <br> 6 cuotas sin interes</p>
                        <div class="row">
                            <div class="col-6"><a href="#!" class="card-link">Comprar</a></div>
                            <div class="col-6"><a href="#!" class="card-link">Favoritos</a></div>

                        </div>
                    </div>


                </div>




            </div>


        </div>
    </div>

</body>

</html>