{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}


<div class="content mt-4">
    <h1>Modificar Poleras</h1>
    <form method="POST" action="#" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">{{form.nombre|as_crispy_field}}</div>
            <div class="form-group col-md-6 mb-0">{{form.codigo|as_crispy_field}}</div>
            <div class="form-group col-md-6 mb-0">{{form.precio_comprar|as_crispy_field}}</div>
            <div class="form-group col-md-6 mb-0">{{form.precio_venta|as_crispy_field}}</div>
            <div class="form-group col-md-3 mb-0">{{form.descuento|as_crispy_field}}</div>
            <div class="form-group col-md-3 mb-0">{{form.numero_talla|as_crispy_field}}</div>
            <div class="form-group col-md-3 mb-0">{{form.tipo_tela|as_crispy_field}}</div>
            <div class="form-group col-md-3 mb-0">{{form.color|as_crispy_field}}</div>

            <div class="form-group col-md-6 mb-0">{{form.descripcion|as_crispy_field}}</div>
            <div class="form-group col-md-6 mb-0">{{form.imagen|as_crispy_field}}</div>


        </div>

        <div class="d-flex justify-content-between align-items-center mt-3  mb-4">
            <button type="submit" class="btn btn-primary">Modificar</button>
            <a href="{% url 'listadoProductos' %}" class="btn btn-outline-primary">Ir al Listado</a>
        </div>
    </form>

</div>

{% endblock content %}