{% extends "app/base.html" %}
{% load static %}
{% block title %} Registro Usuarios {% endblock %}

{% block content %}

<div class="section">
  <div class="row" id="banner">
    <div class="col-12">
      <img src="{% static 'img/logo.jpg' %}" class="img-fluid" id="logoid" alt="">
    </div>
  </div>
  <div id="about" class="col-12">
    <H2>Acerca De Mis poleras</H2>
    <p>somos una empresa enfocada en la venta de poleras por medio del portal web</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi corrupti consequuntur molestias deserunt
      libero distinctio quod cupiditate sed totam voluptate, qui aliquid assumenda iure deleniti doloremque
      similique, sint et consectetur.</p>

  </div>
</div>

{% endblock %}