<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p style="background: white; color: black;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed ut ducimus
        beatae, quidem laboriosam laudantium sit
        est voluptate nulla molestias doloribus optio natus! Quae mollitia placeat omnis culpa tempora quaerat?</p>
</body>

</html>