{% extends "base.html" %}

{% block title %} Registro Usuarios {% endblock %}

{% block content %}
<div class="main">
    <form id="formulario" action="#" method="POST">
        {% csrf_token %}

        <div class="header-form">
            <h1>Registro de Usuarios</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sint qui velit aliquid
                nesciunt
                ullam doloremque adipisci a doloribus, ab ducimus molestiae maxime? Dolorem ullam molestias
                sunt
                iste voluptate distinctio!
            </p>
            <hr>
        </div>

        <div class="form-group">
            <label for="rut">Run</label>
            <input type="text" class="form-control" name="run" id="rut" required oninput="checkRut(this)"
                placeholder="Ingrese RUT">
        </div>
        <div class="form-group">
            <label for="txtnombre">Nombre Completo</label>
            <div class="input-group">
                <div class="container-nombre">
                    <input type="text" class="form-control" id="txtnombre" name="primer_nombre"
                        placeholder="Ejemplo juan antonio">
                </div>
                <div class="container-apellido">
                    <input type="text" class="form-control" id="txtapellido" name="segundo_nombre"
                        placeholder="Ejemplo machuca allende">
                </div>


            </div>
        </div>

        <div class="form-group">
            <label for="txtemail">Email</label>
            <input type="email" class="form-control" id="txtemail" name="txtemail"
                placeholder="Ejemplo adam.pds@yahoo.com">
        </div>
        <div class="form-group">
            <label for="txttelefono">Telefono</label>
            <input type="tel" class="form-control" name="txttelefono" id="txttelefono" placeholder="Ejemplo 9 79428203"
                maxlength="9">
        </div>
        <div class="container-select">
            <div class="form-group" id="container-fecha">
                <label for="txtfecha_nac">Fecha Nacimiento</label>
                <input type="date" class="form-control" name="txtfecha_nac" id="txtfecha_nac" max="31-12-2001">
            </div>
            <div class="form-group" id="container-region">
                <label for="regiones">Region</label>
                <select class="custom-select" id="regiones" name="txtregion">

                </select>
            </div>
            <div class="form-group" id="container-comuna">
                <label for="comunas">Comuna</label>
                <select class="custom-select" id="comunas" name="txtcomuna">

                </select>
            </div>
            <div class="form-group" id="container-vivienda">
                <label for="txtvivienda">Vivienda</label>
                <select class="custom-select" id="txtvivienda" name="txtvivienda">
                    <option selected="">Seleccione Tipo vivienda</option>
                    <option value="1">Casa con patio Grande</option>
                    <option value="2">Casa con patio pequeño</option>
                    <option value="3">Casa sin patio</option>
                    <option value="4">Departamento</option>
                </select>
            </div>

        </div>
        <div class="container-button">
            <button type="submit" class="btn btn-outline-light">Aceptar</button>
        </div>
    </form>
</div>

{% endblock %}